@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

@import "variables";

@import "~bulma/sass/utilities/derived-variables";

@import "~bulma";
@import "~buefy/src/scss/buefy";

// Spacing helpers
@each $size in [0,1,2,3,4,5] {
    @each $pos in ['top','right','bottom','left'] {
        .margin-#{$pos}-#{$size} {
            margin-#{$pos}: $size + rem;
        }
        .padding-#{$pos}-#{$size} {
            padding-#{$pos}: $size + rem;
        }
    }
    .margin-vertical-#{$size} {
        margin-top: $size + rem;
        margin-bottom: $size + rem;
    }
    .margin-horizontal-#{$size} {
        margin-left: $size + rem;
        margin-right: $size + rem;
    }
}

@import "overrides";

@import "site";